*.aps
*.la
*.lo
*.ncb
*.o
*.suo
*.user
*~
.deps/
.dirstamp
.libs/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
test-driver
tests/check_*
